.theme-control {
  width: 30px;
  height: 100%;
  padding: 5px;
  right: 5px;
  display: inline-block;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 26px;
  border: 2px solid var(--clr-primary);
  border-radius: 1rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--clr-primary-lite);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: var(--clr-white);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input + .slider {
  background-color: var(--clr-black);
}

input:checked + .slider {
  background-color: var(--clr-black);
}

/* input:checked + .slider:before {
  background-color: var(--clr-white);
} */

/* input:focus + .slider {
  box-shadow: 0 0 1px var(--clr-primary);
} */

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: var(--clr-white);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input[type="radio"] {
  appearance: none;

  margin: 0;
  font: inherit;
  color: var(--clr-black);
  margin: 0 2px;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid var(--clr-black);
  border-radius: 50%;
  display: grid;
  place-content: center;
}

input[type="radio"] + .radio-green {
  background-color: var(--clr-primary);
}

input[type="radio"] + .radio-red {
  background-color: red;
}

input[type="radio"] + .radio-yellow {
  background-color: yellow;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="radio"]:checked::before {
  transform: scale(1);
  background-color: var(--clr-black);
}
